extends ./layout/index.pug

block content
  .col.p-0
    .div-carrusel   
      #carouselExample.carousel.slide
        .carousel-inner
          .carousel-item.active
            img.d-block.w-100(src="/image/carr1.webp" alt="carr1")
          .carousel-item
            img.d-block.w-100(src="/image/carr2.webp" alt="carr2")
          .carousel-item
            img.d-block.w-100(src="/image/carr3.webp" alt="carr3")
        button.carousel-control-prev(type="button" data-bs-target="#carouselExample" data-bs-slide="prev")
          span.carousel-control-prev-icon(aria-hidden="true")
          span.visually-hidden Previous
        button.carousel-control-next(type="button" data-bs-target="#carouselExample" data-bs-slide="next")
          span.carousel-control-next-icon(aria-hidden="true")
          span.visually-hidden Next
    .container.d-flex.justify-content-center.align-items.center.p-5
      table.table 
        thead 
          tr
            th(scope="col") #
            th(scope="col") Imagen
            th(scope="col") Titulo
            th(scope="col") Autor 
            th(scope="col") Editorial 
            th(scope="col") ISBN 
            th(scope="col") Precio
            th(scope="col") Stock
        thbody 
          tr 
            th(scope="row") 1
            td 
              img(src="/image/libro1.webp" alt="libro1")
            td El principito
            td Antoine de Saint-Exupéry
            td Salamandra
            td 978-84-7888-000-0
            td $150.00
            td 10