extends ../layout/index.pug 

block content
    .col
        .container.d-flex.justify-content-center.align-items.center.p-5
            table.table 
                thead 
                    tr
                        th(scope="col") #
                        th(scope="col") Imagen
                        th(scope="col") Titulo
                        th(scope="col") Autor 
                        th(scope="col") Editorial 
                        th(scope="col") ISBN 
                        th(scope="col") Precio
                        th(scope="col") Stock
                thbody 
                    tr 
                        th(scope="row") 1
                        td 
                            img(src="/image/libro1.webp" alt="libro1")
                        td El principito
                        td Antoine de Saint-Exupéry
                        td Salamandra
                        td 978-84-7888-000-0
                        td $150.00
                        td 10