.row.vw-100.m-0.p-0
  .col.p-0.m-0
    nav.navbar.navbar-expand-lg.bg-dark
      .container-fluid
        .collapse.navbar-collapse.container(id="navbarSupportedContent")
          ul.navbar-nav.me-auto.mb-2.mb-lg-0.container.justify-content-end
            li.nav-item
              img(src="/image/user.png" alt="Logo" width="30" height="24" class="d-inline-block align-text-top")
            li.nav-item.dropdown
              a.nav-link.dropdown-toggle.link-light(href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false") usuario
              ul.dropdown-menu
                li
                  form(role="logout" action="/logout" method="post") 
                    button.dropdown-item(href="#" type="submit") Cerrar Sesion


