doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Libros FES

    link(rel="stylesheet", href="/bootstrap/css/bootstrap.min.css")
    script(src="/bootstrap/js/bootstrap.bundle.min.js")
    link(rel="stylesheet", href="/css/colors.css")  

   
  body.container.vh-100.m-0.p-0
    include header
    main.row.min-vw-100.p-0.m-0
      include nav
      block content


