doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Mi Aplicaci칩n
    link(rel="stylesheet", href="/css/style.css")  
  body
    header
      h1 Bienvenido a Mi Aplicaci칩n
      nav
        ul
          li: a(href="/") Inicio
          li: a(href="/inicio") P치gina de Inicio
    main
      block content
    footer
      p &copy; 2025 Mi Aplicaci칩n
