.col-2.p-0.bg-dark
    div.bg-dark.text-white.p-3
        a(href="/home").link-underline-opacity-0.link-light
            h4.mb-5 Book Manager
        hr
        ul.nav.flex-column
            li.nav-item 
                h5.mb-3 Buscador
            li.nav-item 
                form.container-fluid.needs-validation(role="search" action="/search" method="post" )
                    .input-group
                        input.form-control.mb-3(type="text" placeholder="escribe aquí" aria-label="titulo" aria-describedby="basic-addon1" name="query" required)
                    .form-group
                        .form-check.form-switch
                            input.form-check-input(type="radio" name="categoria" id="categoria3" value="titulo" required)
                            label.form-check-label(for="categoria3") Titulo
                        .form-check.form-switch
                            input.form-check-input(type="radio" name="categoria" id="categoria1" value="categoria" required)
                            label.form-check-label(for="categoria1") Categoría
                        .form-check.form-switch
                            input.form-check-input(type="radio" name="categoria" id="categoria2" value="autor" required)
                            label.form-check-label(for="categoria2") Autor
                    .mt-3
                        button.btn.btn-primary(type="submit")
                            i.bi.bi-search buscar


            