.col-2.p-0
    div.bg-dark.text-white.p-3.vh-100
        a(href="/home").link-underline-opacity-0.link-light
            h4.mb-4 Book Manager
        hr
        ul.nav.flex-column
            li.nav-item 
                form.container-fluid(role="search" action="/search" method="post")
                    .input-group
                        input.form-control(type="text" placeholder="Titulo" aria-label="titulo" aria-describedby="basic-addon1" name="query")

            li.nav-item.dropdown.dropend
                a.nav-link.dropdown-toggle.link-underline-opacity-0.link-light(href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false") Categorías
                ul.dropdown-menu
                    li
                        a.dropdown-item.link-underline-opacity-0(href="/categorias/action") Action
                    li
                        a.dropdown-item.link-underline-opacity-0.link-dark(href="/categorias/action") Another action
                    
                    
            li.nav-item.dropdown.dropend
                a.nav-link.dropdown-toggle.link-underline-opacity-0.link-light(href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false") Autores
                ul.dropdown-menu
                    li
                        a.dropdown-item.link-underline-opacity-0.link-dark(href="/categorias/action") Action
                    li
                        a.dropdown-item.link-underline-opacity-0.link-dark(href="/categorias/action") Another action
                    